html,
body,
.full-screen {
    height: 100vh;
}

body {
    margin: 0;
}

.full-screen {
    display: flex;
    overflow: auto;
    min-height: min-content;
    flex-direction: column;

    * {
        box-sizing: border-box;
    }

    .topbar {
        display: flex;
        flex: 0 0 auto;
        /* justify-content: center; */
        padding: 1rem;
        background: yellowgreen;

        .search {
            height: 2rem;
            font-size: 1rem;
        }
    }

    .main {
        display: flex;
        flex: 1 1 auto;
        overflow: auto;
        min-height: min-content;

        .column1,
        .column2 {
            display: flex;
            flex-direction: column;
            flex: 0 0 30vw;
            overflow: auto;
            min-height: min-content;
            border: 1px solid black;
            padding: 0 0 1rem 0;

            .content {
                overflow: auto;
            }

            div {
                padding: 0 0 0 1rem;
            }

            ol {
                margin: 0 0;
                list-style-type: none;
                padding: 0;

                li {
                    border: 1px solid black;
                    margin-bottom: 1rem;

                    p {
                        margin: 0.25rem;

                        span.info:not(:first-of-type)::before {
                            content: " • ";
                            margin: 0 0.25rem;
                        }
                    }

                    p.name {
                        font-weight: bold;
                    }
                }
            }
        }

        .column3 {
            padding: 0 1rem 1rem 1rem;
            display: flex;
            flex-direction: column;
            flex: 0 0 40vw;
            overflow: auto;
            min-height: min-content;
            border: 1px solid black;

            .content {
                overflow: auto;
                /* min-height: min-content; */
                display: flex;
                flex: 1 1 auto;
                flex-direction: column;
                justify-content: space-between;

                div {
                    flex: 1 1 auto;
                }

                .events {
                    overflow: auto;
                    margin: 1rem 0 1rem 0;

                    ol {
                        margin: 0 0;
                        list-style-type: none;
                        padding: 0;

                        li {
                            border: 1px solid black;
                            margin-bottom: 1rem;

                            p {
                                margin: 0.25rem;

                                span.info:not(:first-of-type)::before {
                                    content: " • ";
                                    margin: 0 0.25rem;
                                }
                            }

                            p.name {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }

        }
    }
}

.map {
    width: 100%;
    aspect-ratio: 16/9;
}